@model ClienteMVC.Models.ClienteModel

<div class=" card text-primary">
    <div class="card-header text-center">
        <h5>Crear Cliente</h5>
    </div>
    <div class=" card-body text-center">
        <div class=" col-md-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label></label>
                    <input asp-for="Nombres" class="form-control" placeholder="Nombres">
                    <span asp-validation-for="Nombres" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label></label>
                    <input asp-for="Apellidos" class="form-control" placeholder="Apellidos">
                    <span asp-validation-for="Apellidos" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label></label>
                    <input asp-for="FechaNacimiento" class="form-control" placeholder="FechaNacimiento">
                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                </div>
                <div class=" card-footer text-center">
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-outline-primary btn-sm" />
                        <a asp-action="Index" class="btn btn-outline-success btn-sm">Volver a la Lista</a>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>